@using System.Security.Claims;
@model RMS.ViewModels.UpdateUserVM
@{
    ViewData["Title"] = "Update Profile";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <!--Update Account-->
    <div class="card">
        <div class="card-body">
            <h5 class="d-flex justify-content-center my-3"><strong class="display-6">Update Profile</strong></h5>

            <form id="formAuthentication"
                  class="mb-3"
                  method="post"
                  enctype="multipart/form-data"
                  asp-controller="Users"
                  asp-action="Update">

                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--First Name-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label asp-for="FName" class="form-label"></label>
                        <input asp-for="FName"
                               class="form-control"
                               id="FName"
                               name="FName"
                               placeholder="Enter First Name"
                               required
                               autofocus />
                        <span asp-validation-for="FName" class="text-danger"></span>
                    </div>

                    <!--Last Name-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label asp-for="LName" class="form-label"></label>
                        <input asp-for="LName"
                               class="form-control"
                               id="LName"
                               name="LName"
                               placeholder="Enter Last Name"
                               required />
                        <span asp-validation-for="LName" class="text-danger"></span>
                    </div>

                    <!--Email-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" id="Email" name="Email" placeholder="Enter your email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!--Password-->
                    <div class="col-md-12 col-lg-6 mb-3 form-password-toggle">
                        <label class="form-label" for="Password"></label>
                        <div class="input-group input-group-merge">
                            <input for="Password"
                                   id="Password"
                                   class="form-control"
                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                   aria-describedby="password"
                                   disabled />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                        <p class="form-text">Password can not be changed.</p>
                    </div>

                    <!--Date Of Birth-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label asp-for="DOB" class="form-label"></label>
                        <input asp-for="DOB" class="form-control" type="date" name="DOB" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>

                    <!--Gender-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label asp-for="Gender" class="form-label"></label>
                        <select class="form-select" id="Gender" name="Gender">
                            <option value="Male" selected="@(Model.Gender == "Male" ? "selected" : null)">Male</option>
                            <option value="Female" selected="@(Model.Gender == "Female" ? "selected" : null)">Female</option>
                            <option value="Other" selected="@(Model.Gender == "Other" ? "selected" : null)">Other</option>
                        </select>
                    </div>

                    <!--CNIC-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label asp-for="CNIC" class="form-label"></label>
                        <input asp-for="CNIC" class="form-control" id="CNIC" name="CNIC" placeholder="12345-1234567-1" />
                        <span asp-validation-for="CNIC" class="text-danger"></span>
                        <p class="form-text">Follow this pattern (xxxxx-xxxxxx-x)</p>
                    </div>

                    <!--UserType-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label for="UserType" class="form-label"></label>
                        <select class="form-select" id="UserType" name="UserType" disabled>
                            <option value="Admin" selected="@(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == " Admin" ? "selected" : null)">Admin</option>
                            <option value="Seller" selected="@(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "Seller" ? "selected" : null)">Seller</option>
                            <option value="Customer" selected="@(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "Customer" ? "selected" : null)">Customer</option>
                        </select>
                        <p class="form-text">User type can not be changed.</p>
                    </div>

                    <!--Phone No-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label class="form-label" asp-for="Phoneno"></label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text">
                                <i class="bx bx-phone"></i>
                            </span>
                            <input asp-for="Phoneno"
                                   class="form-control"
                                   placeholder=" XXX-XXX-XXXX" />
                        </div>
                        <div class="form-text">Phone no must be in  XXX-XXX-XXXX format.</div>
                        <span asp-validation-for="Phoneno" class="text-danger"></span>
                    </div>

                    <!--Location-->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <label class="form-label" asp-for="Address"></label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-map-pin" class="input-group-text">
                                <i class='bx bxs-map-pin'></i>
                            </span>
                            <input asp-for="Address"
                                   class="form-control"
                                   id="basic-icon-location"
                                   placeholder="Township, Lahore, Pakistan."
                                   aria-label="Pk Resorts"
                                   aria-describedby="basic-icon-location" />
                        </div>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <!--Profile picture-->
                        <div class="col-md-9 my-2">
                            <label asp-for="ProfilePic" class="form-label"></label>
                            <input asp-for="ProfilePic" type="file" class="form-control" id="ProfilePic" required/>
                            <span asp-validation-for="ProfilePic" class="text-danger"></span>
                            <p class="form-text">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>

                        <div class="col-md-3 my-2">
                            <!-- Display the preselected image -->
                            @if (Model.ProfilePic != null)
                            {
                                using (var memoryStream = new MemoryStream())
                                {
                                    Model.ProfilePic.CopyTo(memoryStream);
                                    var imageData = memoryStream.ToArray();
                                    <img src="data:image;base64,@Convert.ToBase64String(imageData)"
                                         alt="Product Image"
                                         class="d-block rounded"
                                         height="100"
                                         width="100" />
                                }
                            }
                        </div>
                    </div>
                </div>

                <!--Buttons-->
                <div class="row justify-content-center">
                    <div class="col-md-6 btn-group my-3">
                        <button type="submit" class="btn btn-info">
                            <span class="tf-icons bx bx-save"></span>Save
                        </button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary w-25">
                            <span class="tf-icons bx bx-right-arrow-alt"></span>Cancel
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <!--Update Account-->

</div>
